<% layout('layout') -%>


<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>SimSperm</title> 
		<style>
			html, body {
				height: 100%;
			}
			canvas {
				position: absolute;
				top:  0px;
				left:  0px;
				width:  100%;
				height: 100%;
				background-color: black;
			}
		</style>

</head>
<body>
		<canvas id="Canvas" width="2518" height="1255" ></canvas>
</body></html>

