<% layout('layout') -%>

<div class="user-new">
    <input id="user" name="user[name]" type="text" placeholder="Enter your name!"/>


<style>
@import url(http://fonts.googleapis.com/css?family=Rosario);
body {
  background:#000;
}
#leaderboard {
  z-index:99999; /* It's over 9000 ! */
  background: rgba(51, 100, 100, 0.52);
  position: absolute;
  left: 32%;
  top: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 8px;
  display: inline-block;
  padding: 6px;
  border: 1px solid rgba(255,255,255,0.2);
  transition: border 0.1s linear;
  transition: background 0.1s linear;
}
#leaderboard:hover {
  /background: rgba(101, 139, 139, 0.82);
  background: rgba(51, 100, 100, 0.82);
  border: 1px solid rgba(255,255,255,0.5);
  transition: border 0.1s linear;
  transition: background 0.1s linear;
}
#leaderboard-title {
  letter-spacing:14px;
  text-indent:14px;
  font-family:sans-serif;
  margin:0;
  /background:rgba(0, 0, 0, 0.65);
  background:rgba(0,0,0,0.8);
  color:rgba(255, 255, 255, 0.85);
  padding:18px;
  border-radius:2px;
  border-radius:8px 8px 0 0;
  border: 2px solid rgba(255, 255, 255, 0.56);
  bordertop: 2px solid rgba(0, 0, 0, 0.56);
}
#leaderboard-display {
  background:rgba(0,0,0,0.45);
  letter-spacing: 2px;
  padding:12px 0;
  border-left: 2px solid rgba(255, 255, 255, 0.6);
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  /*border-bottom:4px solid rgba(0,0,0,0.4);*/
  font-size:105%;
  font-family:sans-serif;
}
#leaderboard ul li {
  letter-spacing: 2px;
  font-family: 'Rosario', sans-serif;
  list-style:none;
  display:inline-block;
  padding:2px;
  width:140px;
  user-select:none;
  padding:2px 1px;
}
#leaderboard-labels {
  background:rgba(25, 44, 44, 0.63);
  padding:0;margin:0;
  padding:2px 0;
  border-radius:1px;
  border-left: 2px solid rgba(255, 255, 255, 0.41);
  border-right: 2px solid rgba(255, 255, 255, 0.41);
  border-top: 2px solid rgba(255, 255, 255, 0.41);
  padding-bottom:4px;
  margin:0px;
  background:rgba(255,255,255,0.2);
}
.score-block {
  padding:0;margin:0;
  background: rgba(5, 5, 5, 0.58);
  border-bottom:2px solid rgba(255,255,255,0.2);
  padding:2px;
  cursor:pointer;
  border-left: 2px solid rgba(255, 255, 255, 0.51);
  border-right: 2px solid rgba(255, 255, 255, 0.51);
  transition:background 0.022s linear;
}
.score-block:last-child {
  border-radius:0 0 8px 8px;
}
.score-block:hover {
  border-left: 2px solid rgba(255, 255, 255, 0.81);
  border-right: 2px solid rgba(255, 255, 255, 0.81);
  /* background:#4FFFFF;*/
  /* background:rgba(25, 255, 255, 0.23);*/
  background:rgba(0,0,0,0.75);
  transition:background 0.212s linear;
  border-top:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(0,0,0,0.24);
}
#leaderboard-score {
  /* color:rgba(255,215,0,0.96);*/
  /* color:rgba(0,215,255,0.96);*/
  /* color:rgba(200,200,255,0.99);*/
  color:rgba(255,255,0,0.96);
  letter-spacing: 2px;
  font-weight:bold;
}
.current_player {
  /color: rgba(0, 155, 255, 0.87);
  color: rgba(200, 255, 0, 0.87);
  font-weight:bold;
}
#leaderboard-footer {
  height:12px;
  border-radius: 0 0 8px 8px;
  background:rgba(0,0,0,0.8);
}
</style>
    <div id="leaderboard">
      <h1 id="leaderboard-title">
        High Scores
      </h1>
      <div id="leaderboard-display">
        Your Score is: 
        <span id="leaderboard-score">1203820200001</span>
      </div>
      <ul id="leaderboard-labels">
        <li>Rank</li>
        <li>Score</li>
        <li>Player</li>
      </ul>
      <!-- REPEAT -->
        <ul class="score-block">
          <li>#0</li>
          <li>11568</li>
          <li class="current_player">You</li>
        </ul>
      <% for(var i=0; i<scores.length; i++) {%>
        <ul class="score-block">
          <li># <%= ranks[i] %></li>
          <li><%= scores[i] %></li>
          <li><%= players[i] %></li>
        </ul>
      <% } %>
      <!-- /REPEAT -->
      <div id="leaderboard-footer"></div>
    </div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script>

  $("input#user").focus();

  /* Key Triggers for High Scores: */
  /* - Toggles Leaderboard when holding <TAB> key. */
  $("#leaderboard").hide();
  $('body').keydown(function(e){
    if (e.which == 9){
      e.preventDefault();
      $("#leaderboard").show();
    }
  });
  $('body').keyup(function(e){
    if (e.which == 9){
      e.preventDefault();
      $("#leaderboard").hide();
    }
  });
</script>



</div>

<div id="container"></div>
