<% layout('layout') -%>


<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<title>SimSperm</title> 
		<style>
			html, body {
				margin:0;
			}
		</style>

</head>
<body>
	<div id="container">

	</div>
</body></html>

