<!DOCTYPE html>

<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>NodeExpressEjsSeed</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<script src="js/vendor/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io.connect('<%= serverIp %>');
        </script>
	</head>
	<body>
		<%- body %>
		<%- partial('partials/includes.ejs') %>
	</body>
</html>
