<!DOCTYPE html>

<html ng-app>
	<head>
		<meta charset="utf-8">
		<title>Spunk-Racer</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">

		<audio src="sounds/music.mp3" id="music" loop preload></audio>
		<audio src="sounds/underwater.mp3" id="underwater" loop preload></audio>
		<audio src="sounds/swim2.mp3" id="swim" loop preload></audio>
		<audio src="sounds/bump1.mp3" id="bump1" preload></audio>
		<audio src="sounds/winning.mp3" id="win" preload></audio>
		<audio src="sounds/squish2.mp3" id="squish" preload></audio>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            window.socket = io.connect('<%= serverIp %>');
        </script>
	</head>
	<body>
		<%- body %>
		<%- partial('partials/includes.ejs') %>
	</body>

</html>
