extends ../layout

block content
  div#new_user
    form(method='post',action='/user/#{user.id}')  
      input(type='hidden',name='_method',value='put')
      label(for='email') Email:
      input(type='text',name='email',id='email',value=user.email)
      label(for='password') Password:
      input(type='password',name='password',id='password')
      label(for='verify_password') Verify Password:
      input(type='password',name='verify',id='verify')
      input(type='submit',name='submit',value='Submit').submit-button
