script(src="/lib/three.min.js")
script(src="/socket.io/socket.io.js")
script(src="/lib/jquery.min.js")
script(src="/game/math.js")
script(src="/game/action.js")
script(src="/game/input.js")
script(src="/game/controller.js")
script(src="/game/client.js")
script(src="/game/viewport.js")
script(src="/game/game.js");
